@model IEnumerable<SistemaEscolar.Models.Notas>

@{
    ViewBag.Title = "Lançamento de Notas";
}

<h2>Lançamento de Notas</h2>

<p>
    @Html.ActionLink("Novo Lançamento", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GruposDetalhes.GruposDetalhesId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percentual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GruposDetalhes.GruposDetalhesId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percentual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.NotaId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.NotaId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.NotaId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
